# configuration file for cpp-harvest application
# maps directly to Config, Generator and App classes
# changes to yaml keys should also be made to the python class in config.py

!!python/object:config.Config

# pygccxml.parser.config options
# https://pygccxml.readthedocs.io/en/develop/apidocs/pygccxml.parser.config.html
generator: !!python/object:config.Generator
  # compiler: clang++
  compiler: g++
  cflags: ""
  flags: null
  working_directory: ./examples/tiny

# runtime application parameters
app: !!python/object:config.App
  # reduce the result set by excluding system and/or other file sets
  exclude_files_start_with: []

   # reduce the result set by excluding specific namespaces
  exclude_namespaces: []

  # c++ files to harvest
  # "#include" files will be included automatically
  files: [tiny.hpp]

  result_yaml: tiny_results.yaml
  print_result: true

  reports:
    - test_walk: !!python/object:config.Report
        run: true
        show_screen: true
        output_yaml: null

